<p id="notice"><%= notice %></p>

<h1>Tweets</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Body</th>
      <th>Retweet count</th>
      <th>Like count</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.body %></td>
        <td><%= tweet.retweet_count %></td>
        <td><%= tweet.like_count %></td>
        <td><%= link_to 'Show', user_tweet_path(@user, tweet) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tweet', new_user_tweet_path(@user) %>
