<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @tweet.user %>
</p>

<p>
  <strong>Body:</strong>
  <%= @tweet.body %>
</p>

<p>
  <strong>Retweet count:</strong>
  <%= @tweet.retweet_count %>
</p>

<p>
  <strong>Like count:</strong>
  <%= @tweet.like_count %>
</p>

<%= link_to 'Back', user_tweets_path(@user) %>
